body {
    background-color: #9e9e9e;
    position: absolute;
    inset: 0 0 0 0;
    background-color: #ececec;
    font-family: "Roboto", sans-serif;
}

.height-100 {
    height: 100%;
}

.navbar {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);

    .navbar-button {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.container {
    height: 100%;
}

.slcon .item {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

#ach input {
    display: none;
}

#ach input:checked + label {
    background-color: gray;
}

.user-info-card {
    .skin-block {
        width: 183px;
        box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2) inset;

        .skin-preview {
            background: unset;
            border-bottom: 0;
            min-width: 183px;
            min-height: 178px;
            border-bottom: {
                left-radius: 0;
                right-radius: 0;
            }
        }

        .btn-group {
            .select-button {
                width: 140px;
                font-size: 14px;
                line-height: 14px;
            }
            .delete-button {
            }
        }

        .skin-control-skin {
            .select-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .delete-button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .skin-control-cape {
            .select-button {
                border-top-left-radius: 0;
            }
            .delete-button {
                border-top-right-radius: 0;
            }
        }
    }

    .info-block {
        height: 100%;
        .table {
            tr {
                &:last-child td {
                    border-bottom: none;
                }
                td:last-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.buy-account-block {
    .account-types {
        width: 100%;
        margin-bottom: 1rem;
    }

    .account-description p {
        font-size: 14px;
        margin-bottom: unset;
    }
}

.cart-page {
    .cart-container {
        .cart-item {
            width: 150px;
            height: 150px;
            font-size: 10px;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .cart-item-delete {
                display: block;
                border: none;
                height: 13px;
                width: 13px;
                position:absolute;
                top:3px;
                background: url('/blockshop/assets/img/delete.png') no-repeat scroll 0 0 transparent;
                right: 3px;
            }

            .uk {
                background: url("/blockshop/assets/img/delete.png") no-repeat scroll 0 0 transparent;
                right: 3px;
            }
            .um {
                background: url("/blockshop/assets/img/editblock.png") no-repeat scroll 0 0 transparent;
                left: 3px;
            }
            .ud {
                transition: all 0.2s ease 0s;
                border: 0 none;
                display: block;
                height: 13px !important;
                opacity: 1;
                padding: 0;
                position: absolute;
                top: 3px;
                width: 13px !important;
            }
            .ud:hover {
                opacity: 0.9;
            }
        }
    }
}

.history-table {
    vertical-align: middle;
    .date {
        width: 175px;
    }
}